<div class="row">
	<div id="" class="card col-md-12 col-sm-12">
		<div class="card-header kick-start">
			<h4 class="card-title">IDC network traffic(TX)</h4>
		</div>
		<div class="card-body">
			<div id="chartdivTX" class="chartdiv"></div>
		</div>
	</div>
	<div id="kick-start" class="card col-md-12 col-sm-12">
		<div class="card-header">
			<h4 class="card-title">IDC network traffic(RX)</h4>
		</div>
		<div class="card-body">
			<div id="chartdivRX" class="chartdiv"></div>
		</div>
	</div>
</div>
